/*override code*/
/*a:-webkit-any-link {
	color: black;
	cursor: pointer;
	text-decoration: underline;
}

.edit-link {
	padding: 6mm -9mm 0 1mm;
	margin: -13mm 1mm 0 2mm;
	background-color: rgb(14, 45, 51);
	color: rgb(187, 219, 235, 0.8);
	text-align: left;
	display: block;
}

.edit-link a:-webkit-any-link {
	color: rgb(187, 219, 235, 0.8);
}

.site-info {
	padding: 1mm 0 5mm 1mm;
	margin: 1mm;
	background-color: rgb(14, 45, 51);
	color: rgb(187, 219, 235, 0.8);
	text-align: left;
	display: block;
}

.site-info a:-webkit-any-link {
	color: rgb(187, 219, 235, 0.8);
}*/

/*My code*/
.wrapper {
	padding: 3px;
}

/*start grid setup*/
.item1 {grid-area: header;}
.item6 {grid-area: logoleft;}
.item2 {grid-area: topnav;}
.item3 {grid-area: main;}
.item4 {grid-area: left;}
.item5 {grid-area: footer;}

.grid-container {
	display: grid;
	grid-template-areas: 
	'logoleft header header header header header' 
	'logoleft topnav topnav topnav topnav topnav' 
	'left left main main main main' 
	'footer footer footer footer footer footer';
	gap: 1px;
	background-color: rgba(35, 63, 95, 0.8);
	opacity: 100%;
	padding: 2px;
}

.grid-container div {
/*background-color: rgba(187, 219, 235, 0.8);*/
	text-align: left;
	padding: 0;
	font-size: 15px;
}

/*end grid setup found at https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named*/
/*body style*/
body {
	background-color: rgb(130, 150, 160);
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
}


/*header area style*/
.item1 {
	background-color: rgb(14, 45, 51);
	padding-right: 2cm;
	margin-left: -2cm;

}

/*header and paragraph type style */
h2 {
/*color: rgb(248, 232, 210);
	font-family: 'Times New Roman', Times, serif;
	font-size: 55pt;*/
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	top: 0;
	width: 100%;
}

/*content area*/
.item3 {
	background-color: rgb(205, 198, 182); /* rgba(187, 219, 235, 0.8)*/
	/*background-image: url('../imgs/transparent20.png');
	background-position: static;
	background-size: contain;
	background-repeat: no-repeat;
	object-position: center;*/
	min-width: 100%;
	min-height: 9in;
}

h3 {
	color: rgb(0, 0, 0);
	font-family: 'Times New Roman', Times, serif;
	font-size: 24pt;
	margin-bottom: 4mm;
	margin-top: 12mm;
	margin-left: 10mm;
}

h4 {
	color: rgb(0, 0, 0);
	font-family: 'Times New Roman', Times, serif;
	font-size: 20pt;
	margin-left: 50px;
	margin-bottom: 8mm;
}

/*over ride site code*/
p {
	margin: -6px;
	padding: 0mm;
}

/*my paragraphs*/
.p {
	color: rgb(5, 5, 5);
	font-family: 'Times New Roman', Times, serif;
	font-size: 18pt;
	padding: 1%;
	padding-top: 0%;
	margin-left: 12mm;
	margin-right: 20mm;
	margin-bottom: 4mm;
	margin-top: 1mm;
	text-align: left;
}

.item3 div {
	display: grid;
	justify-content: space-between;
}

/*image style*/
img {
	display: block;
	object-fit: contain;
	max-width: 100%;
	height: auto;
}

.item4 {
	background-color: rgb(205, 198, 182); /*rgba(187, 219, 235, 0.8)*/
	display: block;
	max-width: 101mm;
	margin-right: -0.3mm;
}

/*my picture*/
.item4 #profileimg {
	display: block;
	position: static;
	top: 0;
	margin-top: 2cm;
	margin-bottom: 10%;
	margin-left: 2%;
	margin-right: 2%;
}

.item4 #profileimg img {
	max-width: 70mm;
	height: auto;
	border: 1mm solid black;
	border-radius: 50%;
	justify-self: center;
}

.item4 h4 {
	margin-top: 10mm;
	margin-bottom: 2mm;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	font-size: 20pt;
}

.item4 p {
	margin-bottom: 9mm;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	font-size: 16pt;
}

.item4 figcaption {
	display: block;
	margin-top: -5mm;
	margin-bottom: 2mm;
	margin-left: 70px;
	margin-right: 70px;
	text-align: center;
}

/*logo area*/
.item6 {
	display: block;
	background-color: rgb(14, 45, 51);
	margin-right: 0mm;
	padding-right: 0mm;
	height: 3.8cm;

}
.item6 img {
	object-fit: contain;
	object-position: top;
	max-height: 3.8cm;
}

* {
	box-sizing: border-box;
}

figcaption {
	text-align: center;
	margin: 1px;
}

/*navigation bar style */
.item2 {
	background-color: rgba(14, 45, 51,0.8);
	height: 2cm;
}

.topnav {
	list-style-type: none;
	margin: 3px;
	overflow: hidden;
	font-size: 18pt;
	justify-self: right;
}

.topnav li {
/*margin-left: 14%;*/
/*float: left;*/
/*border: solid black 1px;*/
	display: inline-block;
	margin: 20px;
/*display: inline;
  display: grid;
  justify-content: space-evenly;*/
}

.topnav li a {
	display: inline-block;
	justify-content: space-around;
	color: rgba(187, 219, 235, 0.8);
	font-family: 'Times New Roman', Times, serif;
	font-size: 100%;
	text-align: center;
	padding: 8px 55px;
	text-decoration: none;
	border-radius: 8%;
}

.topnav li a:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.425);
}

#navhome {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

#navportfolio {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

#navcontact {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

#navprojects {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

.topnav a.active {
	background-color: rgba(255, 255, 255, 0.425);
	color: white;
}

/*footer style*/
.item5 footer {
	background-color: rgb(14, 45, 51);
	padding: 10px;
}

.item5 footer a {
	color: rgba(187, 219, 235, 0.8);
	text-align: center;
	display: block;
	font-size: 12pt;
}

.item5 footer p {
	color: rgb(187, 219, 235, 0.8);
	text-align: right;
	display: block;
	font-size: 12pt;
	padding: 1mm;
	margin-right: 1mm;
}





/*Home page specific*/

#pghome .item1 {
	height: 3.8cm;
}

#pghome .item3 {
	min-width: 100%;
}

.imgsscroll {grid-area: scrollitm;}

#pghome .scroll-container {
	display: grid;
	grid-template-areas: 
	'scrollitm scrollitm scrollitm scrollitm scrollitm scrollitm scrollitm scrollitm scrollitm scrollitm';
	background-color: #333;
	overflow: scroll;
	white-space: nowrap;
	margin: 2mm;
	height: fit-content;
	overflow-y: hidden;
	height: 300px;
	
}
 
#pghome div.scroll-container .scrollitm {
	max-height: 200px;
	min-width: fit-content;
}

#pghome div.scroll-container img {
	padding: 1mm;
}

#pghome .item3 #blueandme {
	width: 8cm;
	display: block;
	justify-self: center;
	float: right;
	margin-right: 1cm;
	margin-left: 3mm;
}
#pghome .scroll-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f5f5f571;
}

#pghome .scroll-container::-webkit-scrollbar
{

	height: 9px;
	width: 9px;
	background-color: #f8f1dead;
}

#pghome .scroll-container::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0b363c;
}

/*Portfolio page specific*/
#pgport .grid-container {
	display: grid;
	grid-template-areas: 
	'logoleft header header header header header' 
	'logoleft topnav topnav topnav topnav topnav'  
	'main main main main main main' 
	'footer footer footer footer footer footer';
	gap: 1px;
	background-color: rgba(35, 63, 95, 0.8);
	opacity: 100%;
	padding: 2px;
}

#pgport .item1 {
	height: 3.8cm;
}

/*start grid setup2*/
.item1-1 {grid-area: block1;}
.item1-2 {grid-area: block2;}
.item1-3 {grid-area: block3;}
.item1-4 {grid-area: block4;}
.item1-5 {grid-area: block5;}
.item1-6 {grid-area: block6;}
.item1-7 {grid-area: block7;}
.item1-8 {grid-area: block8;}
.item1-9 {grid-area: block9;}
.item1-10 {grid-area: block10;}

#pgport .item3 {
	justify-items: center;
}

#pgport .item3 div {
	justify-content: center;
}

.item3 .grid-container2 {
	display: grid;
	grid-template-areas: 
    'block1 block1 block2 block2 block3 block3' 
    'block1 block1 block2 block2 block3 block3' 
	'block4 block4 block5 block5 block6 block6'  
    'block4 block4 block5 block5 block6 block6' 
	'block7 block7 block8 block8 block9 block9'
	'block7 block7 block8 block8 block9 block9'
	'... ... block10 block10 ... ...' 
	'... ... block10 block10 ... ...';
	gap: 1mm;
/*background-color: rgba(35, 63, 95, 0.8);*/
	opacity: 100%;
	padding: 0;
	margin: 0mm 15mm 0mm 15mm;
}

.grid-container2 div {
/*background-color: rgba(187, 219, 235, 0.8);*/
	text-align: left;
	padding: 0mm;
	margin: 1mm;
	max-width: 4in;
	min-height: 5in;
}

.grid-container2 div figure {
	width: auto;
	height: auto;
	margin: 0mm;
	border: 1mm solid black;
}

.grid-container2 div figure figcaption {
	text-decoration: underline;
	font-size: 16pt;
	font-weight: bold;
}

.grid-container2 div figure .p {
	margin-right: 1mm;
	margin-left: 1mm;
	font-size: 12pt;
}
#proinfo {
	font-weight: bold;
}

/*Contact specific styles*/
#pgcontact .grid-container {
	display: grid;
	grid-template-areas: 
	'logoleft header header header header header' 
	'logoleft topnav topnav topnav topnav topnav' 
	'main main main main main main' 
	'footer footer footer footer footer footer';
	gap: 1px;
	background-color: rgba(35, 63, 95, 0.8);
	opacity: 100%;
	padding: 2px;
}

#pgcontact .item1 {
	height: 3.8cm;
}

#pgcontact .item3 {
	min-width: 100%;
	justify-items: center;
}
#pgcontact h3 {
	margin: 7mm;
}
#pgcontact .item3 p {
	justify-self: center;
	text-align: center;
}

#pgcontact .item3 form {
	justify-content: center;
	max-width: min-content;	
}

/*start grid setup3*/
.item2-1 {grid-area: left1;}
.item2-2 {grid-area: right1;}
.item2-3 {grid-area: row;}
.item2-4 {grid-area: row2;}
.item2-5 {grid-area: row3;}
#submit {grid-area: center;}

#pgcontact .item3 .grid-container3 form {
	display: grid;
	grid-template-areas: 
    'left1 left1 right1 right1' 
	'row row row row'
	'row2 row2 row2 row2'
	'row3 row3 row3 row3'
	'center center center center';
	gap: 2mm;
/*background-color: rgba(35, 63, 95, 0.8);*/
	opacity: 100%;
	padding: 0mm;
	margin: 0mm;
	margin-top: 9mm;
}

#pgcontact .grid-container3 div {
	/*background-color: rgba(187, 219, 235, 0.8);*/
		display: inline-block;
		text-align: left;
		padding: 1mm;
		margin: 1mm;
	}
	
#pgcontact .grid-container3 div label {
	margin: 1mm;
	padding: 0mm;
	font-size: 16pt;
}


#pgcontact .grid-container3 div input {
	margin: 1mm;
	padding: 1mm;
	font-size: 14pt;
	border: solid 1px #ccc;
	border-radius: 4px;

}
#pgcontact .grid-container3 #submit {
	/*display: block;*/
	justify-self: center;
	background-color: rgb(14, 45, 51);
	color: rgba(187, 219, 235, 0.8);
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	padding: 6px 25px;
	border-radius: 8%;
	margin-bottom: 4mm;
}

#pgcontact .grid-container3 #submit:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.425);
	cursor: pointer;
}

.item2-3 {
	justify-self: center;
}

.item2-4 input {
	justify-self: center;
	/*height: 45mm;*/
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
}

.item2-5 input {
	justify-self: center;
	/*min-height: 45mm;*/
	width:100%;
	box-sizing: border-box;
	resize: vertical;	
}


/*Projects specific */
#pgprojects .grid-container {
	display: grid;
	grid-template-areas: 
	'logoleft header header header header header' 
	'logoleft topnav topnav topnav topnav topnav' 
	'main main main main main main' 
	'footer footer footer footer footer footer';
	gap: 1px;
	background-color: rgba(35, 63, 95, 0.8);
	opacity: 100%;
	padding: 2px;
}

#pgprojects .item1 {
	height: 3.8cm;
}

#pgprojects .item3 {
	min-width: 100%;
	justify-items: center;
}
#pgprojects h3 {
	margin: 7mm;
}
#pgprojects h4 {
	margin: 2mm;
}

#pgprojects .item3 form {
	justify-content: center;
	max-width: min-content;	
}

#pgprojects .item5 {
	display: block;
	position: absolute;
	bottom: 0mm;
	width: 100%;
}