/*override code*/
a:-webkit-any-link {
	color: black;
	cursor: pointer;
	text-decoration: underline;
}

.edit-link {
	padding: 6mm -9mm 0 1mm;
	margin: -13mm 1mm 0 2mm;
	background-color: rgb(14, 45, 51);
	color: rgb(187, 219, 235, 0.8);
	text-align: left;
	display: block;
}

.edit-link a:-webkit-any-link {
	color: rgb(187, 219, 235, 0.8);
}

.site-info {
	padding: 1mm 0 5mm 1mm;
	margin: 1mm;
	background-color: rgb(14, 45, 51);
	color: rgb(187, 219, 235, 0.8);
	text-align: left;
	display: block;
}

.site-info a:-webkit-any-link {
	color: rgb(187, 219, 235, 0.8);
}

/*My code*/
.wrapper {
	padding: 3px;
}

/*start grid setup*/
.item1 {
	grid-area: header;
}

.item6 {
	grid-area: logoleft;
}

.item2 {
	grid-area: topnav;
}

.item3 {
	grid-area: main;
}

.item4 {
	grid-area: left;
}

.item5 {
	grid-area: footer;
}

.grid-container {
	display: grid;
	grid-template-areas: 'logoleft header header header header header' 'logoleft topnav topnav topnav topnav topnav' 'left left main main main main' 'footer footer footer footer footer footer';
	gap: 1px;
	background-color: rgba(35, 63, 95, 0.8);
	opacity: 100%;
	padding: 2px;
}

.grid-container div {
/*background-color: rgba(187, 219, 235, 0.8);*/
	text-align: left;
	padding: 0;
	font-size: 15px;
}

/*end grid setup found at https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named*/
/*body style*/
body {
	background-color: rgb(130, 150, 160);
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
}

header {
	font-size: 0;
}

/*header area style*/
.item1 {
	background-color: rgb(14, 45, 51);
}

/*header and paragraph type style */
h2 {
/*color: rgb(248, 232, 210);
	font-family: 'Times New Roman', Times, serif;
	font-size: 55pt;*/
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	top: 0;
	width: 100%;
}

/*content area*/
.item3 {
	background-color: rgba(187, 219, 235, 0.8);
	background-image: url('../imgs/transparent20.png');
	background-position: static;
	background-size: contain;
	background-repeat: no-repeat;
	object-position: center;
}

h3 {
	color: rgb(0, 0, 0);
	font-family: 'Times New Roman', Times, serif;
	font-size: 24pt;
	margin-bottom: -10px;
	margin-top: 10px;
	margin-left: 10px;
}

h4 {
	color: rgb(0, 0, 0);
	font-family: 'Times New Roman', Times, serif;
	font-size: 100%;
	margin-left: 50px;
}

/*over ride site code*/
p {
	margin: -6px;
	padding: 0;
}

/*my paragraphs*/
.p {
	color: rgb(5, 5, 5);
	font-family: 'Times New Roman', Times, serif;
	font-size: 14pt;
	padding: 2%;
	margin-left: 55px;
	margin-right: 70px;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: left;
}

.item3 div {
	display: grid;
	justify-content: space-between;
}

/*image style*/
img {
	display: block;
	object-fit: contain;
	max-width: 100%;
	height: auto;
}

.item4 {
	display: block;
	width: 119mm;
}

/*my picture*/
.item4 #profileimg {
	display: block;
	border: solid black;
	position: static;
	top: 0;
	margin-top: 1%;
	margin-bottom: 10%;
	width: 119mm;
	height: auto;
}

.item4 #profileimg img {
	width: 117mm;
	height: auto;
	margin: -4mm 0;
}

.item4 h3 {
	margin-bottom: 9px;
	margin-left: 70px;
	margin-right: 70px;
	padding: 10px;
	text-align: center;
}

.item4 p {
	margin-bottom: 9px;
	margin-left: 70px;
	margin-right: 70px;
	padding: 10px;
	text-align: center;
}

.item4 figcaption {
	display: block;
	margin-bottom: 9px;
	margin-left: 70px;
	margin-right: 70px;
	padding: 10px;
	text-align: center;
}

/*logo area*/
.item6 img {
	object-fit: contain;
	object-position: top;
	width: 119mm;
	height: auto;
}

* {
	box-sizing: border-box;
}

figcaption {
	text-align: center;
	margin: 1px;
}

/*navigation bar style */
.item2 {
	background-color: rgba(14, 45, 51,0.8);
}

.topnav {
	list-style-type: none;
	margin: 3px;
	overflow: hidden;
	font-size: 18pt;
/*border: solid black 1px;*/
/*position: fixed;
	right: 0mm;*/
}

.topnav li {
/*margin-left: 14%;*/
/*float: left;*/
/*border: solid black 1px;*/
	display: inline-block;
	margin: 20px;
/*display: inline;
  display: grid;
  justify-content: space-evenly;*/
}

.topnav li a {
	display: inline-block;
	justify-content: space-around;
	color: rgba(187, 219, 235, 0.8);
	font-family: 'Times New Roman', Times, serif;
	font-size: 100%;
	text-align: center;
	padding: 8px 65px;
	text-decoration: none;
	border-radius: 8%;
}

.topnav li a:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.425);
}

#navhome {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

#navportfolio {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

#navcontact {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

#navprojects {
/*background-color: rgba(221, 178, 84, 0.795);*/
	border-radius: 8%;
}

.topnav a.active {
	background-color: rgba(255, 255, 255, 0.425);
	color: white;
}

/*.topnav input[type=text] {
	float: right;
	padding: 10px 15px;
	border: solid black 1px;
	position: relative;
	top: 0;
	margin: 20px;
	font-size: 17px;
}*/
/*footer style*/
.item5 footer {
	background-color: rgb(14, 45, 51);
	padding: 10px;
}

.item5 footer a {
	color: rgba(187, 219, 235, 0.8);
	text-align: center;
	display: block;
}

.item5 footer p {
	color: rgb(187, 219, 235, 0.8);
	text-align: right;
	display: block;
}

/*Home page specific*/
#pghome .item6 {
	height: 8.25cm;
}

#pghome .item1 {
	height: 8.25cm;
}

#pghome .item2 {
	height: 2.25cm;
}

/*Portfolio page specific*/
#pgport .grid-container {
	display: grid;
	grid-template-areas: 'logoleft topnav topnav topnav topnav topnav' 'logoleft header header header header header' 'main main main main main main' 'footer footer footer footer footer footer';
	gap: 1px;
	background-color: rgba(35, 63, 95, 0.8);
	opacity: 100%;
	padding: 2px;
}

#pgport .item6 {
	height: 4.75cm;
}

#pgport .item1 {
	height: 6.75cm;
}

#pgport.item2 {
	height: 2.25cm;
}

#pgport .item4 {
	width: 0;
}

/*start grid setup2*/
.item1-1 {
	grid-area: block1;
}

.item1-2 {
	grid-area: block2;
}

.item1-3 {
	grid-area: block3;
}

.item1-4 {
	grid-area: block4;
}

.item1-5 {
	grid-area: block5;
}

.item1-6 {
	grid-area: block6;
}

.item1-7 {
	grid-area: block7;
}

.item1-8 {
	grid-area: block8;
}

#pgport .item3 div {
	justify-content: center;
}

.item3 .grid-container2 {
	display: grid;
	grid-template-areas: 
    'block1 block1 block2 block2 block3 block3 block4 block4' 
    'block1 block1 block2 block2 block3 block3 block4 block4' 
    'block5 block5 block6 block6 block7 block7 block8 block8' 
    'block5 block5 block6 block6 block7 block7 block8 block8';
	gap: 2mm;
/*background-color: rgba(35, 63, 95, 0.8);*/
	opacity: 100%;
	padding: 0;
	margin: 0;
}

.grid-container2 div {
/*background-color: rgba(187, 219, 235, 0.8);*/
	text-align: left;
	padding: 1mm;
	margin: 3mm;
	margin-bottom: 20mm;
	font-size: 15px;
	border: 2px solid black;
	max-width: 3in;
	height: 5in;
}

.item1-1 {
	border: 1px solid black;
}

.item1-2 {
	max-width: 186px;
	height: auto;
	border: 1px solid black;
}

.item1-3 {
	width: 186px;
	height: auto;
	border: 1px solid black;
}

.item1-4 {
	width: 186px;
	height: auto;
	border: 1px solid black;
}

.item1-5 {
	width: 186px;
	border: 1px solid black;
}

.item1-6 {
	width: 4cm;
	border: 1px solid black;
}

.item1-7 {
	width: 4cm;
	border: 1px solid black;
}

.block8.item1-8 {
	width: 4cm;
	border: 1px solid black;
}